<h5><%= link_to '< Back to Decks', decks_path %></h5>
<h1><%= @deck.name %></h1>

<!--
<li class="card add-new">
  <%= link_to "Add New Card", new_deck_card_path(@deck) %>
</li>
-->

<li class="card add-new">
  <%= link_to "Add New Card", new_deck_card_path(@deck), id: "new_card", remote: true  %>
</li>

<% @cards.each do |card| %>
  <li class="card">
    <%= card.front %>

    <div class="card-hover">
      <%= card.back %>
    </div>

    <div class="actions">
      <%= link_to "Edit", edit_deck_card_path(@deck, card) %> | 
      <%= link_to "Delete", deck_card_path(@deck, card), method: :delete %>
    </div>
  </li>
<% end %>